@font-face {
  font-family: 'Figtree Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Figtree Regular"), url("../fonts/figtree/Figtree-Regular.woff2") format("woff");
}

@font-face {
  font-family: 'Figtree Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Figtree Italic"), url("../fonts/figtree/Figtree-Italic.woff2") format("woff");
}

@font-face {
  font-family: 'Figtree Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Figtree Semibol"), url("../fonts/figtree/Figtree-SemiBold.woff2") format("woff");
}

@font-face {
  font-family: 'Figtree Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Figtree Semibol Italic"), url("../fonts/figtree/Figtree-SemiBoldItalic.woff2") format("woff");
}

@font-face {
  font-family: 'Minion Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Minion Pro Regular"), url("../fonts/minion-pro/MinionPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Minion Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Minion Pro Italic"), url("../fonts/minion-pro/MinionPro-It.woff") format("woff");
}

/* line 3, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Figtree Regular", sans-serif;
  color: #111111;
  font-size: 16px;
}

/* line 15, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
ul {
  list-style: ">  ";
  margin: 5px 0;
  padding-left: 17px;
}

/* line 21, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
ul li {
  margin: 5px 0;
}

/* line 25, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
ul li::marker {
  color: #C0C0C0;
}

/* line 30, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
a {
  text-decoration: none;
  color: #111111;
}

/* line 34, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
a:hover {
  color: #77a6f8;
  transition: all .3s 0s;
  text-decoration: none;
}

/* line 41, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
h1, h3 {
  font-family: "Figtree Semibold", sans-serif;
  font-size: 16px;
  margin: 0;
}

/* line 51, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
h2 {
  font-family: "Minion Pro Regular", serif;
  font-size: 16px;
  margin: 0;
}

/* line 57, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
hr {
  border-top: 1px solid #C0C0C0;
}

/* line 61, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#navbar {
  width: 100%;
  font-family: "Figtree Italic", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

/* line 68, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#navbar ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

/* line 78, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#navbar a {
  color: #808080;
}

/* line 81, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#navbar a:hover {
  color: #111111;
  transition: all .3s 0s;
}

/* line 86, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#navbar a#nav-selected {
  color: #111111;
}

/* line 91, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#navbar #socials {
  text-align: right;
  font-size: 12px;
}

/* line 95, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#navbar #socials a {
  border-bottom: 0.15em solid #77a6f8;
}

/* line 101, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.bold {
  font-family: "Figtree Semibold", sans-serif;
}

/* line 105, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.italic {
  font-family: "Figtree Italic", sans-serif;
  color: #808080;
}

/* line 112, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

/* line 122, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.highlighted {
  background-color: #77a6f8;
  padding: 0 3px;
  color: white;
}

/* line 135, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#main {
  margin-top: 20px;
}

/* line 138, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#main a {
  border-bottom: 0.15em solid #77a6f8;
}

/* line 143, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#scroll-arrow-container {
  position: fixed;
  bottom: 25vh;
  right: 6vw;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all .3s 0s;
}

/* line 163, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#scroll-arrow-container i:hover {
  color: #77a6f8;
  cursor: pointer;
  transition: all .3s 0s;
}

/* line 170, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#scroll-arrow-container.show {
  opacity: 1;
  visibility: visible;
}

/* line 181, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#skills {
  display: flex;
  flex-direction: column;
}

/* line 185, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
#skills > div {
  margin: 3px 0;
}

/* line 194, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.project-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

/* line 201, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.project-card p, .project-card h1 {
  margin: 0;
}

/* line 207, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.project-title::before {
  content: ">";
  margin-right: 7px;
  color: #C0C0C0;
}

/* line 214, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.project-tags {
  color: #808080;
  font-family: "Figtree Italic", sans-serif;
  font-size: 14px;
}

/* line 223, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.img-gallery {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* line 230, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.img-gallery div {
  max-width: 250px;
  height: auto;
  transition: all .3s 0s;
}

/* line 235, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.img-gallery div img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 241, /Users/yueqi/Desktop/Job Materials/personal_website_2025/sass/styles.scss */
.img-gallery div:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=../css/styles.map */