@font-face {
  font-family: "couture";
  src: url("couture.otf");
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 28, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: #111111;
  animation: reveal 2.5s 0s;
  animation-fill-mode: forwards;
}

/* line 37, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
a {
  text-decoration: none;
  color: #111111;
}

/* line 41, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
a:hover {
  color: #D75847;
  transition: all .3s 0s;
  text-decoration: none;
}

/* line 48, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
h1, h2, h3 {
  font-family: "Crete Round", serif;
}

/* line 52, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
hr {
  border-color: #111111;
}

/* line 56, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#container {
  margin: 30px 0;
  display: flex;
}

/* line 61, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-lg {
  height: 100%;
  flex-grow: 1;
  margin: 0 30px;
}

/* line 66, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-lg #search {
  padding-top: 90px;
  margin-left: 10px;
}

/* line 70, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-lg #search .bg-light {
  background-color: transparent !important;
}

/* line 74, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-lg #search input {
  width: 140px;
}

/* line 79, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-lg #navigation {
  padding-top: 100px;
  box-sizing: border-box;
  padding-left: 0;
}

/* line 85, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-lg a {
  font-size: 20px;
  line-height: 28px;
  margin-left: 10px;
  display: block;
}

/* line 92, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-lg #name a {
  padding-top: 125px;
  font-family: couture, sans-serif;
  font-size: 70px;
  font-style: italic;
  line-height: 70px;
}

/* line 101, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-top {
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1000;
  top: 0;
  padding: 0 30px;
}

/* line 111, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-top img {
  width: 70px;
  float: left;
  cursor: pointer;
}

/* line 117, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-top h3 {
  font-family: couture, sans-serif;
  font-style: italic;
  float: right;
  line-height: 70px;
  margin: 0;
}

/* line 126, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
ul {
  list-style: none;
}

/* line 130, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-sm-wrapper {
  height: 120%;
  padding-top: 95px;
  width: 0;
  position: fixed;
  top: -10px;
  z-index: 100;
  background-color: white;
  overflow-x: hidden;
  transition: all 0.7s 0s;
}

/* line 141, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-sm-wrapper #sidebar-sm {
  padding-left: 20px;
}

/* line 145, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-sm-wrapper #closebtn {
  position: relative;
  right: -155px;
  margin-bottom: 20px;
}

/* line 151, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-sm-wrapper #search {
  margin-top: 20px;
}

/* line 154, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-sm-wrapper #search .bg-light {
  background-color: transparent !important;
}

/* line 158, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-sm-wrapper #search input {
  width: 140px;
}

/* line 163, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-sm-wrapper #navigation {
  margin-top: 20px;
  padding-left: 0;
}

/* line 168, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#sidebar-sm-wrapper a {
  font-size: 18px;
  line-height: 26px;
}

/* line 174, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.content-container {
  flex-grow: 6;
  overflow-y: scroll;
  height: 91.5vh;
  margin: 0 30px;
  width: 100%;
  box-sizing: border-box;
}

/* line 183, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.content {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* line 190, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
section {
  margin: 40px 0;
}

/* line 194, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
a .button, button {
  display: inline;
  font-size: 18px;
  border: 2px solid #111111;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px 12px;
}

/* line 202, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
a .button:hover, button:hover {
  border: 2px solid #D75847;
  background-color: #D75847;
  color: white;
  transition: all .3s 0s;
}

/* line 210, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#carousel {
  margin-top: 0;
}

/* line 214, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#introduction {
  display: flex;
  align-items: center;
}

/* line 218, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#introduction img {
  width: 100%;
  min-width: 200px;
}

/* line 223, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#introduction div:nth-child(1) {
  width: 100%;
  flex-grow: 1;
}

/* line 228, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#introduction div:nth-child(2) {
  margin-left: 40px;
  flex-grow: 2;
}

/* line 235, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore h2 {
  text-align: center;
}

/* line 239, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore #explore-links {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

/* line 245, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore a {
  width: 31%;
  margin: 0 1%;
  font-size: 23px;
  text-align: center;
  line-height: 62px;
  box-sizing: border-box;
}

/* line 253, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore a:nth-child(1) {
  color: #3AB8D6;
  border: 3px solid #3AB8D6;
}

/* line 257, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore a:nth-child(1):hover {
  background-color: #3AB8D6;
  color: white;
}

/* line 263, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore a:nth-child(2) {
  color: #D75847;
  border: 3px solid #D75847;
}

/* line 267, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore a:nth-child(2):hover {
  background-color: #D75847;
  color: white;
}

/* line 273, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore a:nth-child(3) {
  color: #F5D741;
  border: 3px solid #F5D741;
}

/* line 277, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#explore a:nth-child(3):hover {
  background-color: #F5D741;
  color: white;
}

/* line 285, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#index-contact {
  text-align: center;
  position: relative;
}

/* line 289, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#index-contact #contact-flex {
  text-align: right;
  display: flex;
  align-items: center;
}

/* line 294, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#index-contact #contact-flex div {
  width: 31%;
  margin: 0 1%;
}

/* line 300, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#index-contact img {
  width: 100%;
}

/* line 305, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/charles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
}

/* line 317, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.description h2, .description p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@keyframes slide-right {
  0% {
    opacity: 0;
  }
  100% {
    transform: translate(200px, 0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
  }
  100% {
    transform: translate(-200px, 0);
    opacity: 1;
  }
}

/* line 354, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.dramatic {
  margin: 30px auto;
  width: 80%;
}

/* line 359, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#experience-desc {
  text-align: center;
  margin: 0 auto;
}

/* line 364, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

/* line 370, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume h3 {
  width: 30%;
  text-align: center;
  margin: 0;
}

/* line 376, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion {
  width: 70%;
  margin: 10px 0;
}

/* line 380, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion ul {
  padding: 0;
}

/* line 384, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion ul ul {
  list-style-type: disc;
}

/* line 388, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion h5 {
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/* line 394, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion p {
  margin: 0;
  font-style: italic;
}

/* line 399, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion .experience {
  margin: 20px 0;
  border-bottom: 2px solid #DFE7E2;
  padding-bottom: 10px;
}

/* line 405, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion .expand {
  padding: 10px 16px;
  border-top: 2px dotted #DDDDDD;
  margin-top: 15px;
}

/* line 411, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion .experience:not(:hover) .expand {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
  transition: opacity .25s, font-size .5s .25s, margin .5s .25s, padding .5s .25s;
}

/* line 423, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume .accordion .experience:hover .expand {
  /* unshrink, then fade in */
  transition: font-size .25s, margin .25s, padding .25s, opacity .5s .25s;
}

/* line 433, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.resume #ski:hover h3 {
  color: #DFE7E2;
}

/* line 496, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.gallery {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

/* line 501, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.gallery div {
  width: 31.3%;
  height: 250px;
  margin: 1%;
  box-shadow: 1px 1px 6px #D8D8D8, -1px -1px 6px #D8D8D8;
}

/* line 507, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.gallery div:hover {
  transform: scale(1.04);
  z-index: 1000;
  transition: all .5s 0s;
  cursor: pointer;
  overflow: hidden;
}

/* line 516, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 523, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.places-heading {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

/* line 528, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.places-heading .places-name {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  width: 50%;
  color: white;
  text-shadow: 1px 1px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 541, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.places-heading #la {
  background-image: url("../images/szymon.jpg");
}

/* line 545, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.places-heading #seattle {
  background-image: url("../images/pascal.jpg");
}

/* line 549, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
.places-heading .places-desc {
  width: 44%;
  margin: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 558, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

/* line 563, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact form {
  margin-right: 5%;
  width: 45%;
  padding-left: 15px;
  box-sizing: border-box;
}

/* line 570, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact input {
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
}

/* line 576, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact input:focus {
  outline: none;
  border-bottom: 2px solid #DFE7E2;
}

/* line 582, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact input[type=checkbox] {
  margin: 0 5px 0 30px;
}

/* line 586, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact .row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* line 592, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact .label {
  font-weight: bold;
}

/* line 596, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact textarea {
  width: 100%;
  height: 15vh;
}

/* line 600, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact textarea:focus {
  outline: none;
  border: 2px solid #DFE7E2;
}

/* line 606, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact .center {
  justify-content: center;
}

/* line 610, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact button {
  margin: 0 10px;
}

/* line 614, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
#contact iframe {
  width: 50%;
  height: auto;
}

/* line 621, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
footer #left {
  float: left;
}

/* line 625, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
footer #right {
  float: right;
}

/* line 629, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
footer a {
  margin: 0 10px;
}

/* line 633, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
footer p {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  /* line 639, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #sidebar-top {
    display: initial;
  }
  /* line 643, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #container {
    margin-top: 90px;
  }
  /* line 647, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  .content-container {
    overflow: initial;
    height: initial;
  }
  /* line 652, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #sidebar-lg {
    display: none;
  }
  /* line 657, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  .gallery div {
    width: 48%;
  }
}

@media (max-width: 767px) {
  /* line 664, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  .content-container {
    margin: 0 20px;
  }
  /* line 668, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #search form button {
    margin-left: 10px;
  }
  /* line 672, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #introduction {
    flex-direction: column;
  }
  /* line 675, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #introduction div:nth-child(2) {
    margin: 30px 0 0 0;
  }
  /* line 680, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #explore-links {
    flex-wrap: wrap;
  }
  /* line 683, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #explore-links a {
    width: 100%;
    margin: 5px 0;
  }
  /* line 689, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #index-contact {
    text-align: left;
  }
  /* line 692, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #index-contact #contact-flex {
    text-align: left;
    flex-wrap: wrap;
  }
  /* line 696, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #index-contact #contact-flex div {
    width: 100%;
    margin: 5px 0;
  }
  /* line 700, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #index-contact #contact-flex div:nth-child(1) {
    margin-top: 0;
  }
  /* line 704, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #index-contact #contact-flex div:nth-child(2) {
    margin-top: 40px;
  }
  /* line 711, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  .resume {
    flex-direction: column;
  }
  /* line 714, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  .resume #order-left {
    order: -1;
  }
  /* line 718, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  .resume .accordion {
    width: 100%;
  }
  /* line 724, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  .gallery div {
    width: 100%;
    margin: 2% 0;
  }
  /* line 730, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #contact {
    flex-direction: column;
  }
  /* line 733, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #contact form {
    width: 100%;
    padding-right: 20px;
  }
  /* line 738, /Users/yueqi/Desktop/USC Spring 2019/ITP 302/final_project/sass/styles.scss */
  #contact iframe {
    width: 100%;
    height: 45vh;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=../css/styles.map */