// Colors
$linkColor: #E24141;
$accentColor: #9FD2D6;
$accentColorDark: #94C6CA;
$backgroundColor: #E2EAEC;
$grey: #E3E3E3;
$lightgrey: #F8F8F8;
$darkgrey: #A7A7A7;
$black: #201D1C;

// Fonts
$bodyFont: 'Titillium Web', sans-serif;
$headerFont: 'Bree Serif', serif;
$font: 'Contrail One', cursive;