@import "partial";

#favorites-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.favorites-indiv {
		width: 48.5%;
		margin: 15px 0;
		box-shadow: 2px 0 10px rgba(0, 0, 0, .1);
		display: flex;
		height: auto;
		transition: all .3s 0s;

		&:hover {
			color: $black;
			box-shadow: 2px 2px 15px rgba(0, 0, 0, .2);
		}

		.favorites-img {
			width: 32%;
			overflow: hidden;

			img {
				max-height: 280px;
				position: relative;
				left: -50%;
				display: block;
			}
		}

		.favorites-info {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 10px 25px;
			box-sizing: border-box;
			width: 68%;

			a {
				overflow-wrap: break-word;
				word-wrap: break-word;
			}

			.category {
				text-transform: uppercase;
				color: $darkgrey;
			}

			h4 {
				margin: 10px 0;
			}

			.favorites-buttons {
				text-align: right;
				margin: 15px 0;

				span {
					text-align: right;
					margin-left: 20px;

					a {
						&:hover {
							color: $grey;
						}
					}
				}
			}
		}
	}
}