@import "partial";

@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html, body {
	margin: 0;
	padding: 0;
	font-family: $bodyFont;
	animation: reveal 2s 0s;
	animation-fill-mode: forwards;
	color: $black;
}

h1, h2 {
	font-family: $headerFont;
	font-weight: normal;
}

h4 {
	font-family: $font;
}

a {
	text-decoration: none;
	transition: all .3s 0s ease-in-out;
	color: $black;

	&:hover {
		color: $linkColor;
	}
}

hr {
	width: 100%;
	border: .5px solid $grey;
}

section {
	width: 75%;
	margin: 80px auto;
}

header {
	width: 75%;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	#logo {
		font-family: $headerFont;
		font-size: 32px;
		width: 25%;
	}

	#nav-links {
		display: flex;
		justify-content: space-evenly;
		text-transform: uppercase;
		width: 50%;
		text-align: center;

		a {
			width: 100%;

		}
	}

	#login {
		text-align: right;
		width: 25%;

		#hi-username {
			margin-right: 10px;
		}
	}
}

form {
	margin-bottom: 10px;

	input {
		padding: 5px;
		font-size: 16px;
		font-family: $bodyFont;
		border: none;
	    border-bottom: 1px solid black;

	    &:focus {
	    	outline: none;
	    	border-bottom: 1px solid $linkColor;
	    }
	}
}

.login {
	margin: 20px auto;

	form {
		width: 80%;
		margin: 0 auto;
	}

	p {
		text-align: center;
		margin-top: 20px;
	}
}

.fail-popup {
	text-align: center;
	font-style: italic;
	margin: 15px auto;
	padding: 20px 0;
	color: $linkColor;

	background-color: $lightgrey;
	border-radius: 10px;

	p {
		margin: 0;
	}
}

.required {
	color: $accentColor;
}

.space-fill {
	padding: 100px 0;
	text-align: center;

	.back {
		margin-top: 30px;
	}
}

.form-wrap {
	form {
		.form-row {
			margin: 30px 0;
		}

		.button-row {
			display: flex;
			justify-content: center;
			margin-bottom: 0;

			button {
				margin: 0 15px;
			}
		}

		label {
			display: block;
			font-family: $headerFont;
		}

		input {
			width: 98%;
		}
	}
}

.emphasis {
	color: $accentColor;
}

.website-link {
	border-bottom: 1px solid $black;

	&:hover {
		border-bottom: 1px solid $linkColor;
	}
}

button, .button {
	padding: 5px 18px;
	margin: 8px 0;
	font-size: 16px;
	font-family: $bodyFont;
	border-radius: 8px;
	transition: all .3s 0s;
	border: 1px solid $black;

	&:hover {
		cursor: pointer;
	}
}

.red-button {
	background-color: $linkColor;
	border: 1px solid $linkColor;
	color: white;

	&:hover {
		background-color: white;
		color: $linkColor;
	}
}

.white-button {
	&:hover {
		background-color: $grey;
		border-color: $grey;
		color: $black;
	}
}

.breadcrumb {
	padding-left: 0;

	li {
		display: inline;
		list-style: none;
		color: $darkgrey;

		&:not(:last-child):after {
			content: "/";
		}

		&:last-child {
			color: $linkColor;
		}
	}
}

footer {
	width: 75%;
	margin: 0 auto;
	display: flex;
	padding: 30px 0;

	div {
		width: 100%;
		display: flex;
		flex-direction: column;
		border-right: 1px solid $grey;
		margin-right: 50px;
	}

	#explore {
		border-right: none;
	}

	h4 {
		color: $accentColor;
	}
}

#copyright {
	text-align: center;
	padding: 15px;
	margin: 0;

	p, a {
		color: $grey;
		margin: 5px 0;
	}

	a:hover {
		color: $darkgrey;
	}
}