@import "partial";

// Keyframes
@keyframes bounce {
	0% {
		transform: translate(0, 4px);
	}

	50% {
		transform: translate(0, -4px);
	}

	100% {
		transform: translate(0, 4px);
	}
}

header {
	z-index: 1;
	position: relative;
	background-color: transparent;
	color: $lightgrey;

	a {
		color: $lightgrey;
	}
}

#nav-header {
	background-color: transparent;

	#links {
		a {
			color: $lightgrey;

			&:hover {
				color: $lightgrey;
			}
		}
	}

	&.active {
		#links {
			a {
				color: $black;
			}

			&:hover a {
				color: $grey;
			}

			a:hover {
				color: $black;
			}
		}
	}
}

#index-intro {
	text-align: center;
	color: $lightgrey;

	h1 {
		font-size: 30px;
		margin: 0;
	}

	#intro-text {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		transition: all .7s 0s ease-in-out;

		h1, p {
			opacity: 0;
			transition: all .7s 0s ease-in-out;
		}

		&:hover h1, &:hover p {
			opacity: 1;
		}

		h1 {
			padding-top: 60px;
		}
	}

	#intro-img {
		position: relative;
	}

	img {
		width: 100%;
		margin-top: -310px;
		display: block;
	}

	#down-arrow {
		font-size: 30px;
		margin: 10px 0 0 0;
		animation: bounce .8s 0s infinite;

		&:hover {
			cursor: pointer;
		}
	}
}

#index-browse, #index-about, #index-list {
	margin: 70px auto;
}

#index-about {
	display: flex;
	align-items: center;

	#about-img {
		width: 50%;
		height: 350px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	#about-text {
		width: 50%;
		margin: 0 50px;

		p {
			margin-bottom: 30px;
		}
	}
}

#index-browse {
	width: 90%;
	max-width: 1050px;
	margin: 0 auto;
	text-align: center;

	h3 {
		font-size: 20px;
		margin: 0;
		text-align: left;
	}

	h4 {
		margin: 7px 0;
	}

	.genre-row {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin: 25px 0;

		.daily {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin: 25px auto;
		}
	}

	.daily-pick {
		width: 18%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		span {
			margin: 4px 0px;
		}

		.read-more {
			transition: all .3s ease-in-out;
			position: relative;
			left: 0px;
			border-bottom: 2px solid $mainColor;
			margin-top: 6px;
			display: inline-block;

			&:hover {
				left: 10px;
				cursor: pointer;
			}

			&:before {
				content: "→  ";
				position: absolute;
				opacity: 0;
				left: -20px;
				transition: all .3s 0s ease-in-out;
				padding-right: 3px;
				color: $mainColor;
			}

			&:hover:before {
				content: "→ ";
				left: -19px;
				opacity: 1;
				transition: all .3s 0s ease-in-out;
			}

			&:after {
				content: " ";
				position: absolute;
				opacity: 0;
				height: 20px;
				width: 20px;
				left: 20px;
				border-bottom: 2px solid transparent;
				transition: all .3s 0s ease-in-out;
				padding-right: 3px;
			}

			&:hover:after {
				left: -19px;
				opacity: 1;

				transition: all .3s 0s ease-in-out;
				border-bottom: 2px solid $mainColor;
			}
		}
	}

	.img {
		overflow: hidden;
	
		img {
			height: 170px;
			transition: all .3s 0s ease-in-out;
		}
	}
}

#index-list {
	text-align: center;

	p {
		margin-bottom: 30px;
	}
}