@import "partial";

#search {
	#library-form {
		background-color: $lightgrey;
		padding: 30px 30px 20px 30px;
		margin: 20px 0;
		color: white;

		#search-form {
			display: flex;
		}

		input {
			width: 100%;
		}

		input, .select-css {
			margin-right: 15px;
		}

		button {
			border-color: white;
			margin: 0 3px;

			&:hover {
				border-color: $accentColor;
			}
		}

		#search-msg {
			color: $black;
			margin: 10px 0 0 0;
		}

		#recommended-search {
			margin-top: 15px;

			span {
				display: inline-block;
				padding: 8px 18px;
				margin: 3px 7px;
				background-color: $black;
				color: white;
				cursor: pointer;
				border-radius: 50px;
				transition: all .3s 0s ease-in-out;

				&:hover {
					background-color: $accentColor;
					color: white;
				}
			}
		}
	}

	#search-results {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	border: 3px solid $mainColor;
	padding: 10px 8px;
	visibility: hidden;

		&.active {
			visibility: visible;
		}

		.indiv-result {
			width: 18%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			margin: 10px 1%;
			padding: 10px;
			box-sizing: border-box;
			box-shadow: 4px 4px 20px $lightgrey;
			transition: all .3s 0s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}

			.read-more {
				transition: all .3s ease-in-out;
				position: relative;
				left: 0px;
				border-bottom: 2px solid $mainColor;
				margin: 6px 0px 10px 0px;
				display: inline-block;

				&:hover {
					left: 10px;
					cursor: pointer;
				}

				&:before {
					content: "→  ";
					position: absolute;
					opacity: 0;
					left: -20px;
					transition: all .3s 0s ease-in-out;
					color: $mainColor;
					padding-right: 3px;
				}

				&:hover:before {
					content: "→ ";
					left: -19px;
					opacity: 1;
					transition: all .3s 0s ease-in-out;
				}

				&:after {
					content: " ";
					position: absolute;
					opacity: 0;
					height: 20px;
    				width: 20px;
					left: 20px;
					border-bottom: 2px solid transparent;
					transition: all .3s 0s ease-in-out;
					padding-right: 3px;
				}

				&:hover:after {
					left: -19px;
					opacity: 1;

					transition: all .3s 0s ease-in-out;
					border-bottom: 2px solid $mainColor;
				}
			}
		}

		.lib-img {
			overflow: hidden;

			img {
				height: 250px;
				transition: all .3s 0s ease-in-out;
			}
		}

		h4 {
			margin: 10px 0;
		}

		span {
			margin: 4px 0px;
		}
	}
}

.select-css {
	width: 100%;
	max-width: 250px;
	border: .1px solid #CACACA;
	padding: 9px;
	background-color: white;

	select {
		font-size: 16px;
		font-family: $bodyFont;
		width: 100%;
		max-width: 250px;
		border: none;
		background-color: white;
	}
}


@media(max-width: 991px) {
	#search {
		#search-results {
			.indiv-result {
				width: 23%;
			}
		}
	}
}

@media(max-width: 767px) {
	#search {
		#search-results {
			.indiv-result {
				width: 48%;
			}
		}
	}
}