// Colors
$linkColor: #EDD0E1;
$accentColor: #F0C445;
$mainColor: #F0C445;
$grey: #9D9D9D;
$lightgrey: #F3F3F3;
$black: #1A1A1A;

// Fonts
$bodyFont: century-gothic, sans-serif;
$headerFont: caecilia, sans-serif;
$bold: 700;
$regular: 300;